.color-picker-input{
    border: 1px solid #BF360C;
}

.popover-container{
    border: 1px solid #DCDCDC;
    width: 300px;
    padding: 8px;
    border-radius: 5px;
    opacity: 0;
    position: absolute;
    top: 50px;
    left: 160px;
}

.popover-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-height: 120px;
    overflow-y:auto;
}

.color-box{
    width: 30px;
    height: 30px;
    margin: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 3px 3px 5px #888888;
    position: relative;
} 

.color-box:hover{
    animation-name: mouseOver;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    display: none;
    color: #929292;
}

.btn{
    padding: 5px;
    margin-top: 10px;
    width: 100%;
    background-color: #BBDEFB;
    border: 1px solid #1E88E5;
    color: #1565C0;
}

.btn:hover{
    background-color: #1565C0;
    border: 1px solid #BBDEFB;
    color: #BBDEFB;
    cursor: pointer;
}

@media (max-width:641px) {
    .popover-container{
        position: relative;
        top: auto;
        left: auto;
        margin-top:10px;
    }
}

/* Animaciones */
.animated{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast{
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeIn{
    animation-name: fadeIn;
}

.fadeOut{
    animation-name: fadeOut;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes mouseOver{
    from{
        width: 30px;
        height: 30px;
        transform: translate(0, 0);
    }
    to{
        width: 35px;
        height: 35px;
        transform: translate(-2px, -2px);
    }
}





